<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--

@author:wangshen
@date: 2019/10/183:12
主要功能说明:
-->
<head>
    <meta charset="utf-8">
    <title>地图搜索</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/css/social-icons.css" type="text/css" media="screen" />

    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/ie8-hacks.css" />
    <![endif]-->
    <!-- ENDS CSS -->

    <!-- Isotope -->
    <script src="/assets/js/jquery.isotope.min.js"></script>

    <link rel="stylesheet" href="/assets/css/nivo-slider.css" type="text/css" media="screen" />
    <script src="/assets/js/nivo-slider/jquery.nivo.slider.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/assets/css/tabs.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/assets/js/tabs.js"></script>


    <!-- prettyPhoto -->
    <script type="text/javascript" src="assets/js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
    <link rel="stylesheet" href="/assets/js/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" />
    <!-- ENDS prettyPhoto -->

    <!-- superfish -->
    <link rel="stylesheet" media="screen" href="/assets/css/superfish.css" />
    <link rel="stylesheet" media="screen" href="/assets/css/superfish-left.css" />
    <script type="text/javascript" src="/assets/js/superfish-1.4.8/js/hoverIntent.js"></script>
    <script type="text/javascript" src="/assets/js/superfish-1.4.8/js/superfish.js"></script>
    <script type="text/javascript" src="/assets/js/superfish-1.4.8/js/supersubs.js"></script>
    <!-- ENDS superfish -->

    <!-- poshytip -->
    <link rel="stylesheet" href="/assets/js/poshytip-1.0/src/tip-twitter/tip-twitter.css" type="text/css" />
    <link rel="stylesheet" href="/assets/js/poshytip-1.0/src/tip-yellowsimple/tip-yellowsimple.css" type="text/css" />
    <script type="text/javascript" src="/assets/js/poshytip-1.0/src/jquery.poshytip.min.js"></script>
    <!-- ENDS poshytip -->

    <!-- Tweet -->
    <link rel="stylesheet" href="/assets/css/jquery.tweet.css" media="all"  type="text/css"/>
    <script src="/assets/js/tweet/jquery.tweet.js" type="text/javascript"></script>
    <!-- ENDS Tweet -->

    <!-- Fancybox -->
    <link rel="stylesheet" href="/assets/js/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/assets/js/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <!-- ENDS Fancybox -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <style type="text/css">
        body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    </style>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=CHOIdyDHsgrgFmcSeTZ1mA84xVrf0uaq"></script>
</head>
<body>
<div id="menu" th:replace="~{index::TopMenu(currentUrl='postSearch')}"></div>
<div id="main" th:fragment="LowerContent">
    <div class="wrapper">
            <div id="content">

                <div class="line-divider">
                    <h4>地图位置</h4>
                    <form method="post" th:action="@{/search/postMessage}">
                        <h3>
                            <input name="keyword" th:value="${keyword}" type="text"placeholder="输入关键字">
                            <button type="submit" class="btn btn-green">查询</button>
                        </h3>
                    </form>
                </div>
            <div id="allmap">

            </div>



        </div>

    </div>
</div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
        mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));
    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
</script>
