<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--

@author:wangshen
@date: 2019/10/1111:28
主要功能说明:企业招聘信息的添加
-->
<head>
    <meta charset="utf-8">
    <title>岗位信息添加</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/css/social-icons.css" type="text/css" media="screen" />

    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/ie8-hacks.css" />
    <![endif]-->
    <!-- ENDS CSS -->
    <!-- JS -->
    <script type="text/javascript" src="/assets/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui-1.8.13.custom.min.js"></script>
    <script type="text/javascript" src="/assets/js/easing.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.scrollTo-1.4.2-min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.cycle.all.js"></script>
    <script type="text/javascript" src="/assets/js/custom.js"></script>

    <!-- Isotope -->
    <script src="/assets/js/jquery.isotope.min.js"></script>

    <link rel="stylesheet" href="/assets/css/nivo-slider.css" type="text/css" media="screen" />
    <script src="/assets/js/nivo-slider/jquery.nivo.slider.js" type="text/javascript"></script>

    <link rel="stylesheet" href="/assets/css/tabs.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/assets/js/tabs.js"></script>


    <!-- prettyPhoto -->
    <script type="text/javascript" src="assets/js/prettyPhoto/js/jquery.prettyPhoto.js"></script>
    <link rel="stylesheet" href="/assets/js/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" />
    <!-- ENDS prettyPhoto -->

    <!-- superfish -->
    <link rel="stylesheet" media="screen" href="/assets/css/superfish.css" />
    <link rel="stylesheet" media="screen" href="/assets/css/superfish-left.css" />
    <script type="text/javascript" src="/assets/js/superfish-1.4.8/js/hoverIntent.js"></script>
    <script type="text/javascript" src="/assets/js/superfish-1.4.8/js/superfish.js"></script>
    <script type="text/javascript" src="/assets/js/superfish-1.4.8/js/supersubs.js"></script>
    <!-- ENDS superfish -->

    <!-- poshytip -->
    <link rel="stylesheet" href="/assets/js/poshytip-1.0/src/tip-twitter/tip-twitter.css" type="text/css" />
    <link rel="stylesheet" href="/assets/js/poshytip-1.0/src/tip-yellowsimple/tip-yellowsimple.css" type="text/css" />
    <script type="text/javascript" src="/assets/js/poshytip-1.0/src/jquery.poshytip.min.js"></script>
    <!-- ENDS poshytip -->

    <!-- Tweet -->
    <link rel="stylesheet" href="/assets/css/jquery.tweet.css" media="all"  type="text/css"/>
    <script src="/assets/js/tweet/jquery.tweet.js" type="text/javascript"></script>
    <!-- ENDS Tweet -->

    <!-- Fancybox -->
    <link rel="stylesheet" href="/assets/js/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/assets/js/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <!-- ENDS Fancybox -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

</head>
<body>
<!--topMenu-->
<div id="menu" th:replace = "~{index::TopMenu(currentUrl='enterprise')}"></div>
<!--content-->
<div id="main" th:fragment="LowerContent">
    <div class="wrapper">
        <div id="content">

            <div class="line-divider">
                <h4>添加招聘岗位信息</h4>
            </div>
            <div>
                <form id="contactForm"  method="post" th:action="@{/postMessageSave}">
                    <fieldset>
                        <div >
                            <label>岗位名称</label>
                            <input name="postName" type="text" class="form-poshytip"/>
                        </div>
                        <div class="form-group">
                            <label>岗位薪资</label>
                            <input name="postSalary" `type="text" class="form-poshytip"/>
                        </div>
                        <div>
                            <label>岗位技能</label>
                            <input name="postSkill" type="text" class="form-poshytip"/>
                        </div>
                        <div>
                            <label>岗位招收人数</label>
                            <input name="postNum" type="text" class="form-poshytip"/>
                        </div>
                        <div>
                            <label>岗位介绍</label>
                            <textarea name="postIntroduce" type="text" class="form-poshytip"></textarea>
                        </div>
                        <div>
                            <label>岗位要求</label>
                            <textarea name="postRequire" class="form-poshytip" ></textarea>
                        </div>
                        <div>
                            <label>工作地点</label>
                            <input name="postAddress" class="form-poshytip" >
                        </div>
                        <div>
                            <input type="hidden" name="userId" th:value="${session.userId}">
                        </div>
                        <p><input type="submit" class="submit" id="submit" value="保存"></p>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

</div>

</body>

</html>