<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.offer.mapper.InterSkillMapper">
    <resultMap id="BaseResultMap" type="com.example.offer.model.InterSkill">
        <id column="interSkillId" jdbcType="INTEGER" property="interSkillId" />
        <result column="interSkillTitle" jdbcType="VARCHAR" property="interSkillTitle" />
        <result column="interSkillAuthor" jdbcType="VARCHAR" property="interSkillAuthor" />
        <result column="interSkillContent" jdbcType="VARCHAR" property="interSkillContent" />
    </resultMap>
    <sql id="Base_Column_List">
    interSkillId,interSkillTitle,interSkillAuthor,interSkillContent
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from inter_skill
        where interSkillId = #{interSkillId,jdbcType=INTEGER}
    </select>
   <!--条件搜索查询-->
    <select id="seacher" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from inter_skill
        where interSkillTitle like CONCAT('%',#{interSkillTitle,jdbcType=VARCHAR},'%')
            or interSkillAuthor like CONCAT('%',#{interSkillAuthor,jdbcType=VARCHAR},'%')
    </select>

    <select id="findAll"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from inter_skill
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from inter_skill
    where interSkillId = #{interSkillId,jdbcType=INTEGER}
  </delete>
</mapper>