<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.offer.mapper.PostMessageMapper">
    <resultMap id="BaseResultMap" type="com.example.offer.model.PostMessage">
        <id column="postId" jdbcType="INTEGER" property="postId"/>
        <result column="postName" jdbcType="VARCHAR" property="postName"/>
        <result column="postSkill" jdbcType="VARCHAR" property="postSkill"/>
        <result column="postNum" jdbcType="INTEGER" property="postNum"/>
        <result column="postSalary" jdbcType="DOUBLE" property="postSalary"/>
        <result column="postSuccNum" jdbcType="INTEGER" property="postSuccNum"/>
        <result column="postIntroduce" jdbcType="VARCHAR" property="postIntroduce"/>
        <result column="postRequire" jdbcType="VARCHAR" property="postRequire"/>
        <result column="postAddress" jdbcType="VARCHAR" property="postAddress"/>
        <result column="postState" property="postState"/>
        <association property="user" javaType="User">
            <id column="userId" property="userId"/>
            <id column="userName" property="userName"/>
        </association>
        <association property="enterprise" javaType="EnterpriseMessage">
            <id column="enterId" property="enterId"/>
            <id column="enterName" property="enterName"/>
        </association>
    </resultMap>
    <select id="listAll" resultMap="BaseResultMap">
      SELECT *
      FROM post_message
      WHERE userId = #{user.userId} AND postState = 0;
  </select>

    <select id="queryByKeyword" resultMap="BaseResultMap">
        SELECT *
        FROM post_message
        <where>
            <if test="userId!=null">
                userId=#{userId} AND postState = 0
            </if>
            <if test="keyword!=null">
                <bind name="keywordLike" value="'%'+keyword+'%'"></bind>
                AND ((postName LIKE #{keywordLike}) OR (postSkill LIKE #{keywordLike})
                OR (postAddress LIKE #{keywordLike}));
            </if>
        </where>
    </select>

    <select id="oneMessage" resultMap="BaseResultMap">
    SELECT *
    FROM post_message
    WHERE postId = #{postId};
  </select>

    <update id="update" parameterType="com.example.offer.model.PostMessage">
    UPDATE post_message SET postName=#{postName},postSkill=#{postSkill},
    postNum=#{postNum},postIntroduce=#{postIntroduce},postRequire=#{postRequire},
    postAddress=#{postAddress},postSalary=#{postSalary},postSuccNum=#{postSuccNum},postState=#{postState},enterId=#{enterId}
    WHERE postId=#{postId};
  </update>

    <delete id="delete">
    DELETE FROM post_message WHERE postId=#{postId};
  </delete>

    <insert id="save" parameterType="com.example.offer.model.PostMessage">
    INSERT INTO post_message(postName, postSkill, postNum, postSalary, postIntroduce, postRequire, postAddress, userId
    ,postState,postSuccNum,enterId)
    VALUE(#{postName},#{postSkill},#{postNum},#{postSalary},#{postIntroduce},#{postRequire},#{postAddress},#{userId},
    #{postState},#{postSuccNum},#{enterId});

  </insert>

    <select id="postList" resultMap="BaseResultMap">
    SELECT *
    FROM post_message;
  </select>

    <select id="search" resultMap="BaseResultMap">
        SELECT *
        FROM post_message
        <where>
            <if test="keyword!=null">
                <bind name="keywordLike" value="'%'+keyword+'%'"></bind>
                AND (postName LIKE #{keywordLike}) OR (postSkill LIKE #{keywordLike})
                OR (postAddress LIKE #{keywordLike})
            </if>
        </where>

    </select>

    <update id="postPut" parameterType="com.example.offer.model.PostMessage">
        UPDATE post_message SET postState=1
        WHERE postId=#{postId};
    </update>

    <select id="selectPut" resultMap="BaseResultMap">
        SELECT *
        FROM post_message
        WHERE userId=#{userId} AND postState =1;
    </select>

    <select id="findAllPost" resultMap="BaseResultMap">
      select *
      from post_message;
  </select>

    <select id="searchPut" resultMap="BaseResultMap">
        SELECT *
        FROM post_message
        <where>
            <if test="userId!=null">
                userId=#{userId} AND postState = 1
            </if>
            <if test="keyword!=null">
                <bind name="keywordLike" value="'%'+keyword+'%'"></bind>
                AND ((postName LIKE #{keywordLike}) OR (postSkill LIKE #{keywordLike})
                OR (postAddress LIKE #{keywordLike}));
            </if>
        </where>

    </select>

</mapper>