<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.offer.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.offer.model.UserInfo">
    <id column="userId" jdbcType="INTEGER" property="userid" />
    <result column="userRealName" jdbcType="VARCHAR" property="userrealname" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userIcon" jdbcType="VARCHAR" property="usericon" />
    <result column="userPhone" jdbcType="VARCHAR" property="userphone" />
    <result column="userAge" jdbcType="VARCHAR" property="userage" />
    <result column="userAddressCity" jdbcType="VARCHAR" property="useraddresscity" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    userId, userRealName, userName, userIcon, userPhone, userAge, userAddressCity
  </sql>
  <select id="selectByExample" parameterType="com.example.offer.model.UserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.offer.model.UserInfoExample">
    delete from user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.offer.model.UserInfo">
    insert into user_info (userId, userRealName, userName, 
      userIcon, userPhone, userAge, 
      userAddressCity)
    values (#{userid,jdbcType=INTEGER}, #{userrealname,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{usericon,jdbcType=VARCHAR}, #{userphone,jdbcType=VARCHAR}, #{userage,jdbcType=VARCHAR}, 
      #{useraddresscity,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.offer.model.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="userrealname != null">
        userRealName,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="usericon != null">
        userIcon,
      </if>
      <if test="userphone != null">
        userPhone,
      </if>
      <if test="userage != null">
        userAge,
      </if>
      <if test="useraddresscity != null">
        userAddressCity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="userrealname != null">
        #{userrealname,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="usericon != null">
        #{usericon,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="userage != null">
        #{userage,jdbcType=VARCHAR},
      </if>
      <if test="useraddresscity != null">
        #{useraddresscity,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.offer.model.UserInfoExample" resultType="java.lang.Long">
    select count(*) from user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_info
    <set>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.userrealname != null">
        userRealName = #{record.userrealname,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.usericon != null">
        userIcon = #{record.usericon,jdbcType=VARCHAR},
      </if>
      <if test="record.userphone != null">
        userPhone = #{record.userphone,jdbcType=VARCHAR},
      </if>
      <if test="record.userage != null">
        userAge = #{record.userage,jdbcType=VARCHAR},
      </if>
      <if test="record.useraddresscity != null">
        userAddressCity = #{record.useraddresscity,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_info
    set userId = #{record.userid,jdbcType=INTEGER},
      userRealName = #{record.userrealname,jdbcType=VARCHAR},
      userName = #{record.username,jdbcType=VARCHAR},
      userIcon = #{record.usericon,jdbcType=VARCHAR},
      userPhone = #{record.userphone,jdbcType=VARCHAR},
      userAge = #{record.userage,jdbcType=VARCHAR},
      userAddressCity = #{record.useraddresscity,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.offer.model.UserInfo">
    update user_info
    <set>
      <if test="userrealname != null">
        userRealName = #{userrealname,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usericon != null">
        userIcon = #{usericon,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        userPhone = #{userphone,jdbcType=VARCHAR},
      </if>
      <if test="userage != null">
        userAge = #{userage,jdbcType=VARCHAR},
      </if>
      <if test="useraddresscity != null">
        userAddressCity = #{useraddresscity,jdbcType=VARCHAR},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.offer.model.UserInfo">
    update user_info
    set userRealName = #{userrealname,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      userIcon = #{usericon,jdbcType=VARCHAR},
      userPhone = #{userphone,jdbcType=VARCHAR},
      userAge = #{userage,jdbcType=VARCHAR},
      userAddressCity = #{useraddresscity,jdbcType=VARCHAR}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="UserInfoEdit" parameterType="com.example.offer.model.UserInfo">
    update user_info
    set userRealName = #{userrealname,jdbcType=VARCHAR},
      userIcon = #{usericon,jdbcType=VARCHAR},
      userPhone = #{userphone,jdbcType=VARCHAR},
      userAge = #{userage,jdbcType=INTEGER},
      userAddressCity = #{useraddresscity,jdbcType=VARCHAR},
      userSex = #{usersex,jdbcType = VARCHAR},
      userMajor = #{usermajor,jdbcType=VARCHAR},
      userSchool = #{userschool,jdbcType=VARCHAR},
      userPolitic = #{userpolitic,jdbcType=VARCHAR},
      userEmail = #{useremail,jdbcType=VARCHAR}
    where userName = #{username,jdbcType=VARCHAR}
  </update>
</mapper>